{% extends theme('layouts/1-column.html') %}
{% from theme('macros/breadcrumb.html') import breadcrumb with context %}
{% from theme('macros/follow.html') import follow_btn with context %}
{% from theme('macros/integrate.html') import integrate_btn with context %}
{% from theme('macros/report.html') import report_btn with context %}

{% set meta = {
    'title': reuse.title,
    'description': reuse.description|mdstrip(60)|forceescape,
    'image': reuse.image(external=True),
    'keywords': [_('reuse')] + reuse.tags,
    'robots': 'noindex, nofollow' if reuse.is_hidden else '',
} %}

{% set bundle = 'reuse' %}

{% set body_class = 'reuse-display' %}

{% set community_subtitle = _('Explore with %(certifier)s', certifier=config.SITE_TITLE ) %}

{% set read_only_mode = config['READ_ONLY_MODE'] %}

{% set visible_datasets = reuse.datasets|visibles %}

{% block extra_head %}
{% cache cache_duration, 'reuse-extra-head', reuse.id|string, g.lang_code, reuse.last_modified|string %}
<link rel="canonical" href="{{ url_for('reuses.show', reuse=reuse) }}" />
<link rel="alternate" type="application/json+oembed" href="{{ url_for('api.oembed', url=reuse.external_url) }}"
    title="{{ reuse.title | urlencode }}" />
{% endcache %}
{% endblock %}

{% block breadcrumb %}
{% cache cache_duration, 'reuse-breadcrumb', reuse.id|string, g.lang_code, reuse.last_modified|string %}
<li>
    <a class="fr-breadcrumb__link" href="{{ url_for('reuses.list') }}">
        {{ _('Reuses') }}
    </a>
</li>
<li>
    <a class="fr-breadcrumb__link" aria-current="page">
        {{ reuse.title }}
    </a>
</li>
{% endcache %}
{% endblock %}

{% block toolbar %}
{{ follow_btn(reuse) }}
{{ report_btn(reuse) }}
<a
    href="{{ reuse.url }}"
    rel="ugc nofollow noopener"
    class="fr-btn fr-btn--sm fr-btn--icon-right fr-icon-external-link-line fr-ml-3v"
>
    {{ _('See the reuse') }}
</a>
{% if can_edit %}
    <div class="fr-col-auto fr-ml-3v">
        <a
            class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--secondary-warning-425 fr-icon-pencil-line fr-btn--icon-left"
            href="{{ url_for('admin.index', path='reuse/{id}/'.format(id=reuse.id)) }}"
        >
            {{ _('Edit') }}
        </a>
    </div>
{% endif %}
{% endblock %}

{% block content %}
{% cache cache_duration, 'reuse-content', reuse.id|string, g.lang_code, current_user.slug or 'anonymous', reuse.last_modified|string %}

{{ breadcrumb(self) }}

<div class="content fr-container fr-mb-5w">
    {% if reuse.private or reuse.deleted %}
        <div class="fr-grid-row">
            {% if reuse.private %}
                <div class="fr-col-auto fr-mr-1w">
                    <p class="fr-tag"
                        title="{{ _('This reuse is a draft and will not be visible by other users') }}">{{ _('Draft') }}
                    </p>
                </div>
            {% endif %}
            {% if reuse.deleted %}
                <div class="fr-col-auto fr-mr-1w">
                    <p class="fr-tag"
                        title="{{ _('This reuse has been deleted. This will be permanent in the next 24 hours') }}">{{ _('Deleted') }}
                    </p>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <h1 class="fr-mb-5v fr-h3">
        {{ reuse.title }}
    </h1>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-8">
            <div class="fr-grid-row fr-grid-row--center">
                <img src="{{ reuse.image|placeholder('reuse') }}" class="mw-100" alt="" />
            </div>
            <div class="fr-grid-row fr-grid-row--center">
                <a
                    href="{{ reuse.url }}"
                    rel="ugc nofollow noopener"
                    class="fr-btn fr-btn--sm fr-icon-external-link-line fr-btn--icon-right fr-mt-2w"
                >
                    {{ _('See the reuse') }}
                </a>
            </div>
            <h2 id="description" class="subtitle fr-mt-3v fr-mb-1v">{{ _('Description') }}</h2>
            <div class="fr-text--sm fr-mt-0 fr-mb-3v vuejs">
                <read-more>
                    {{ reuse.description|markdown }}
                </read-more>
            </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
            {% if sysadmin %}
            <div class="fr-mt-0 vuejs">
                <featured-button subject-id="{{ reuse.id }}" subject-type="reuse" :featured="{{ reuse.featured|tojson|safe }}"></featured-button>
            </div>
            {% endif %}
            {% if reuse.organization %}
                {% with organization=reuse.organization, producer_type='organization' %}
                {% include theme('organization/producer-name-with-logo.html') %}
                {% endwith %}
            {% elif reuse.owner %}
                {% with organization=reuse.owner, producer_type='owner' %}
                {% include theme('organization/producer-name-with-logo.html') %}
                {% endwith %}
            {% endif %}
            <div class="fr-grid-row fr-grid-row--gutters">
                {% if reuse.topic %}
                <div class="fr-col">
                    <h2 class="subtitle fr-mt-3v fr-mb-1v">{{ _('Topic') }}</h2>
                    <p class="fr-text--sm fr-mt-0 fr-mb-3v">
                        {{ reuse.topic_label }}
                    </p>
                </div>
                {% endif %}
                <div class="fr-col">
                    <h2 class="subtitle fr-mt-3v fr-mb-1v">{{ _('Type') }}</h2>
                    <p class="fr-text--sm fr-mt-0 fr-mb-3v">
                        {{ reuse.type_label }}
                    </p>
                </div>
            </div>
            {% if reuse.tags %}
                <h2 class="subtitle fr-mt-3v fr-mb-1v">{{ _('Tags') }}</h2>
                <ul class="fr-tags-group fr-mb-3v">
                    {% for tag in reuse.tags %}
                    <li>
                        <p class="fr-tag">{{ tag|truncate(35, True) }}</p>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h2 class="subtitle fr-mt-3v fr-mb-1v">{{ _('Creation date') }}</h2>
            <p class="fr-text--sm fr-mt-0 fr-mb-3v">
                {{ reuse.created_at|dateformat(format='long') }}
            </p>
            <h2 class="subtitle fr-mt-3v fr-mb-1v">{{ _('Last update') }}</h2>
            <p class="fr-text--sm fr-mt-0 fr-mb-3v">
                {{ reuse.last_modified|dateformat(format='long') }}
            </p>
        </div>
    </div>
</div>
<div class="fr-container">
    <section class="fr-py-5v border-top border-bottom border-default-grey">
        <h2 class="subtitle subtitle--uppercase fr-m-0">
            {{ ngettext('%(num)d used dataset', '%(num)d used datasets', visible_datasets|length) }}
        </h2>
        {% with datasets = visible_datasets %}
        {% include theme('dataset/search-results.html') %}
        {% endwith %}
    </section>

    {{ hook('reuse.display.metrics') }}

    <section class="community_container fr-py-5v border-bottom" id="community">
        <div class="vuejs">
            {% if not reuse.metrics.discussions %}
                <h2 class="subtitle subtitle--uppercase fr-mb-3v">
                    {{ _('Discussions') }}
                </h2>
                <div class="fr-grid-row flex-direction-column fr-grid-row--middle fr-mt-5w" data-no-discussion>
                    {% include theme('svg/blank_state/discussion.svg') %}
                    <p class="fr-h6 fr-mt-2w fr-mb-5v text-center">
                        {{ _('There are no discussions for this reuse yet.') }}
                    </p>
                </div>
            {% endif %}
            <discussion-threads
                ref="discussions"
                subject-id="{{ reuse.id }}"
                subject-class="{{ reuse.__class__.__name__ }}"
            >
            </discussion-threads>
        </div>
    </section>
    <section class="fr-py-5v">
        {% if related_reuses %}
            <h2 class="subtitle subtitle--uppercase fr-mb-3v">
                {{ ngettext('%(num)d reuse from the same creator', '%(num)d reuses from the same creator', related_reuses|length) }}
            </h2>
            <ul class="fr-grid-row fr-grid-row--gutters">
                {% for reuse in related_reuses %}
                <li class="fr-mb-3v fr-col-lg-3 fr-col-sm-6 fr-col-12">
                    {% include theme('reuse/card.html') %}
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2 class="subtitle subtitle--uppercase fr-mb-3v">
                {{ _('Reuses from the same creator') }}
            </h2>
            <div class="fr-grid-row flex-direction-column fr-grid-row--middle fr-my-5w">
                {% include theme('svg/blank_state/reuse.svg') %}
                <p class="fr-h6 fr-mt-2w fr-mb-5v text-center">
                    {{ _('There are no other reuses from this creator.') }}
                </p>
            </div>
        {% endif %}
    </section>

</div>
{% endcache %}
{% endblock %}
