{% extends theme('layouts/1-column.html') %}
{% from theme('macros/follow.html') import follow_btn with context %}
{% from theme('macros/organization_name_with_certificate.html') import organization_name_with_certificate %}

{% set bundle = 'user' %}

{% set meta = {
    'title': user.fullname,
    'description': _("%(site)s %(username)s profile", site=config['SITE_TITLE'], username=user.fullname),
    'keywords': [_('user'), _('profile')],
    'robots': 'noindex',
} %}

{% block breadcrumb %}
<li>
    <a class="fr-breadcrumb__link">
        {{ _('Users') }}
    </a>
</li>
<li>
    <a class="fr-breadcrumb__link" aria-current="page">
        {{ user.fullname }}
    </a>
</li>
{% endblock %}

{% block toolbar %}
{% if current_user != user %}
    {{ follow_btn(user) }}
{% endif %}
{% if can_edit %}
    {% if current_user != user %}
    <a
        href="{{ url_for('admin.index', path='user/{id}/'.format(id=user.id)) }}"
        class="fr-mx-2w fr-btn fr-btn--sm fr-btn--secondary fr-icon-pencil-line fr-btn--icon-left"
    >
        {{ _("User's admin profile") }}
    </a>
    <div class="fr-col-auto vuejs">
        <delete-user-button
            id="{{ user.id }}"
            full_name="{{ user.fullname }}"
            avatar_thumbnail="{{ user|avatar_url(40) }}"
        >
        </delete-user-button>
    </div>
    {% else %}
    <a
        class="fr-ml-2w fr-btn fr-btn--sm fr-btn--secondary fr-btn--secondary-warning-425 fr-icon-pencil-line fr-btn--icon-left"
        href="{{ url_for('admin.index', path='me') }}"
    >
        {{ _('Edit') }}
    </a>
    {% endif %}
{% endif %}
{% endblock %}

{% block main_content %}
<div class="fr-container fr-pb-5w">
    <img
        src="{{ user|avatar_url(80) }}"
        class="border border-default-grey rounded-circle"
        alt=""
        width="80"
        height="80"
    />
    <h1 class="fr-h3 fr-my-1v">{{ user.fullname }}</h1>
    <div class="markdown fr-text--sm fr-m-0">
        {{ user.about|markdown(wrap=False) }}
    </div>
    {% if user.website %}
        <p class="fr-m-0">
            <a
                href="{{user.website}}"
                rel="ugc nofollow noopener me"
                class="fr-link fr-text--sm"
                target="_blank"
            >
                {% set truncate_length = 18 %}
                    {% set website = user.website.lstrip("https://").lstrip("http://").lstrip("www.") %}
                <span class="fr-icon-global-line" aria-hidden="true"></span>
                {{ website|truncate(truncate_length, True) }}
            </a>
        </p>
    {% endif %}

    {% if can_edit %}
        <ul class="fr-mt-1w">
            <li>
                <a
                    href="{{url_for('users.followers', user=user)}}"
                    class="fr-link fr-text--sm"
                >
                    {{ ngettext('%(num)d follower', '%(num)d followers', user.metrics.followers or 0) }}
                </a>
            </li>

            <li>
                <a
                    href="{{url_for('users.following', user=user)}}"
                    class="fr-link fr-text--sm"
                >
                    {{ ngettext('%(num)d followed', '%(num)d followed', user.metrics.following or 0) }}
                </a>
            </li>
        </ul>
    {% endif %}

    {% if organizations %}
        <div class="fr-mt-4w">
            <h2 class="subtitle subtitle--uppercase fr-mt-0 fr-mb-3v">{{ _('Organizations') }}</h2>
            {% for org in organizations %}
                <ul>
                    <li class="fr-mb-1w">
                        <a
                            href="{{ url_for('organizations.show', org=org) }}"
                            class="fr-raw-link text-blue-400 fr-text--bold fr-text--sm"
                        >
                            <div class="inline-block border border-default-grey rounded-xxs fr-p-1v bg-white">
                                <img
                                    src="{{ org.logo(24)|placeholder('organization') }}"
                                    width="24"
                                    height="24"
                                    alt=""
                                />
                            </div>
                            <span class="text-decoration-underline text-underline-position-under text-decoration-underline--dsfr">{{ organization_name_with_certificate(org) }}</span>
                        </a>
                    </li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}
</div>
<hr class="fr-py-0-5v" />
<div class="fr-container fr-mb-3w fr-mt-9v vuejs">
    {% block user_content %}
        <user-dataset-list
            owner="{{user.id}}"
        ></user-dataset-list>
        <user-reuse-list
            owner="{{user.id}}"
        ></user-reuse-list>
        <div data-show-no-js>
            <ul>
                <li>
                    <a href="{{ url_for('datasets.list', owner=user.id) }}" class="fr-link">
                        {{ _('Browse the datasets of this user.') }}
                    </a>
                </li>
                <li class="fr-mt-1w">
                    <a href="{{ url_for('reuses.list', owner=user.id) }}" class="fr-link">
                        {{ _('Browse the reuses of this user.') }}
                    </a>
                </li>
            </ul>
        </div>
    {% endblock %}
</div>
{% endblock %}
