{% extends theme('layouts/1-column.html') %}
{% from theme('macros/follow.html') import follow_btn with context %}

{% set bundle = 'user' %}

{% set meta = {
    'title': user.fullname,
    'description': _("%(site)s %(username)s profile", site=config['SITE_TITLE'], username=user.fullname),
    'keywords': [_('user'), _('profile')],
    'robots': 'noindex',
} %}

{% block breadcrumb %}
<li>
    <a class="fr-breadcrumb__link">
        {{ _('Users') }}
    </a>
</li>
<li>
    <a class="fr-breadcrumb__link" aria-current="page">
        {{ user.fullname }}
    </a>
</li>
{% endblock %}

{% block toolbar %}
{% if current_user != user %}
    {{ follow_btn(user) }}
{% endif %}
{% if can_edit %}
    {% if current_user != user %}
    <a
        href="{{ url_for('admin.index', path='user/{id}/'.format(id=user.id)) }}"
        class="fr-ml-2w fr-btn fr-btn--sm fr-btn--secondary fr-btn--secondary-warning-425 fr-icon-pencil-line fr-btn--icon-left"
    >
        {{ _("User's admin profile") }}
    </a>
    {% else %}
    <a
        class="fr-ml-2w fr-btn fr-btn--sm fr-btn--secondary fr-btn--secondary-warning-425 fr-icon-pencil-line fr-btn--icon-left"
        href="{{ url_for('admin.index', path='me') }}"
    >
        {{ _('Edit') }}
    </a>
    {% endif %}
{% endif %}
{% endblock %}

{% block main_content %}
<div class="fr-container fr-mb-3w">
    <img
        src="{{ user|avatar_url(80) }}"
        alt=""
        class="rounded-circle"
    />
    <h1 class="fr-h3">{{ user.fullname }}</h1>
    {{ user.about|markdown }}
    {% if user.website %}
    <p>
        <a
            href="{{user.website}}"
            rel="ugc nofollow"
            class="fr-link"
        >
            <span class="fr-icon-global-line" aria-hidden="true"></span>
            {{user.website}}
        </a>
    </p>
    {% endif %}
    {% if organizations %}
        <div class="panel-body">
            <h4>{{ _('Organizations') }}</h4>
            {% for org in organizations %}
            <a href="{{ url_for('organizations.show', org=org) }}">
                <img src="{{ org.logo(48)|placeholder('organization') }}"
                    class="avatar" width="48" height="48" alt="{{ org.name }}" />
            </a>
            {% endfor %}
        </div>
    {% endif %}
    {% block user_content %}{% endblock %}
</div>
{% endblock %}
