.not-enlarged {
    position: relative;
    z-index: 2;
}

.fr-enlarge-link .not-enlarged a {
    background-image: var(--underline-img),var(--underline-img);
    &:hover {
        // from DSFR [href] style, we cant :extend it anymore
        background-image: var(--underline-img),var(--underline-img);
        background-position: var(--underline-x) 100%,var(--underline-x) calc(100% - var(--underline-thickness));
        background-repeat: no-repeat,no-repeat;
        transition: background-size 0s;
        background-size: var(--underline-hover-width) calc(var(--underline-thickness) * 2),var(--underline-idle-width) var(--underline-thickness);
    }
    &::before {
        background: none;
    }
}
