{% extends theme('base.html') %}
{% from theme('macros/banner_warning.html') import banner_warning %}
{% import theme('macros/forms.html') as forms with context %}

{% block content %}
<section class="fr-py-3w fr-py-md-9v bg-grey-50">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="form-container text-align-center fr-col-12 fr-col-md-6 fr-col-offset-md-3">
                <form class="form" method="post" action="{{ url_for('security.forgot_password') }}">
                    <h1 class="fr-h4 fr-mb-0">{{ _('Reset Password') }}</h1>
                    <p class="fr-mt-2w fr-mb-1w fr-text--light fr-text--sm text-align-left">
                        {{ _("Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.") }}
                    </p>
                    <p class="fr-my-1w fr-text--xs text-align-left">
                        {{ _("Fields preceded by a star (<span class='required-field-star'>*</span>) are required.") }}
                    </p>
                    {% if config.CAPTCHETAT_BASE_URL %}
                        <noscript>
                        {{ banner_warning(
                            "fr-icon-alert-line",
                            _("Javascript is required to use this page correctly.")
                        )}}
                        </noscript>
                        {{ forms.render_fields(forgot_password_form, exclude=[forgot_password_form.submit, forgot_password_form.captcha_code, forgot_password_form.captcha_id]) }}
                        <div class="vuejs">
                            <captcha captcha-style-name="captchaFR"></captcha>
                            <label class="fr-label fr-mt-1w text-align-left">
                                {{ _("Retype the characters from the picture") }} <span class='required-field-star'>*</span>
                            </label>
                            <input id="captchaFormulaireExtInput" name="captcha_code" type="text" required="required"/>
                            {% for error in forgot_password_form.captcha_code.errors %}
                            <p class="fr-error-text fr-mt-1v">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ forms.render_fields(forgot_password_form, exclude=[forgot_password_form.submit]) }}
                    {% endif %}
                    <div class="fr-mt-1w fr-grid-row fr-grid-row--center">
                        <button
                            type="submit"
                            class="fr-btn"
                        >
                            {{ _('Reset Password') }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
