{% extends theme('base.html') %}
{% import theme('macros/forms.html') as forms with context %}
{% set next_url = url_for(request.endpoint, **request.view_args) if not request.routing_exception else url_for('site.home') %}
{% set read_only_mode = config.READ_ONLY_MODE %}

{% block content %}
<section class="fr-py-3w fr-py-md-9v bg-grey-50">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="text-align-center form-container fr-col-12 fr-col-md-6 fr-col-offset-md-3">
                <form class="form" method="post" action="{{ url_for('security.login') }}">
                    <h1 class="fr-h4 fr-mb-0">{{ _('Log in') }}</h1>
                        <p class="fr-mt-2w fr-mb-1w fr-text--xs text-align-left">
                            {{ _("Fields preceded by a star (<span class='required-field-star'>*</span>) are required.") }}
                        </p>
                        {% for error in login_user_form.form_errors %}
                        <p class="fr-error-text fr-mt-1v">{{ error }}</p>
                        {% endfor %}
                        {% for f in login_user_form %}
                            {% if f.type in ('CSRFTokenField', 'HiddenField') %}
                                {{ f() }}
                            {% endif %}
                        {% endfor %}
                        {{ forms.render_single_field(login_user_form.email)}}
                        {{ forms.render_single_field(login_user_form.password)}}
                        {{ forms.render_boolean_field(login_user_form.remember)}}
                        <button type="submit" class="fr-btn">{{ _('Log in') }}</button>
                        <div class="fr-mt-3w">
                            <p class="fr-text--sm fr-mb-3v">
                                {{ _('Forgot your password?') }}
                                <a href="{{ url_for('security.forgot_password', next=next_url) }}">
                                    {{ _('Recover your password') }}
                                </a>
                            </p>
                            {% if config.SECURITY_CONFIRMABLE %}
                            <p class="fr-text--sm fr-mb-3v">
                                {{ _('Confirmation instructions not received?') }}
                                <a href="{{ url_for('security.send_confirmation') }}">
                                    {{ _('Send the instructions again') }}
                                </a>
                            </p>
                            {% endif %}
                        </div>
                    </form>
                    {% if config.PROCONNECT_OPENID_CONF_URL %}
                    <p class="fr-hr-or"><span class="fr-hr-or-text">{{ _('or') }}</span></p>
                    <form class="form" method="get" action="{{ url_for('proconnect.login') }}">
                        <div class="fr-connect-group">
                            <button class="fr-connect">
                                <span class="fr-connect__login">{{ _('Log in with') }}</span>
                                <span class="fr-connect__brand">ProConnect</span>
                            </button>
                            <p>
                                <a href="https://proconnect.gouv.fr/" target="_blank"  rel="noopener" title="What is ProConnect ?">{{ _('What is ProConnect ?') }}</a>
                            </p>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="fr-grid-row">
            {% if not read_only_mode %}
            <div class="text-align-center form-container fr-mt-3w fr-col-12 fr-col-md-6 fr-col-offset-md-3">
                <h2 class="fr-text--sm fr-mb-3v">
                    {{ _('Don\'t have an account?')}}
                </h2>
                <a
                    href="{{ url_for('security.register', next=next_url) }}"
                    class="fr-btn"
                >
                    {{ _('Create an account') }}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
