@import (less) "@gouvfr/dsfr/dist/component/follow/follow.css";

.fr-follow {
    --background-alt-blue-france: var(--background-default-grey);
    --background-alt-blue-france-hover: var(--background-default-grey-hover);
    --background-alt-blue-france-active: var(--background-default-grey-active);
    --border-default-blue-france: @grey-125;
}

.follow-button {
    .justify-center;
    min-width: 2.5rem;
}
