.logo {
    display: flex;
    position: relative;
    background: white;
    border: 1px solid @grey-100;
    padding: @spacing-sm;

    img {
        max-width: 100%;
    }

    @media @query-md {
        max-width: 140px;
    }

    // Private or certified badge or whatever
    @logo-inset: -9px;
    .logo-badge {
        position: absolute;
        top: @logo-inset;
        left: @logo-inset;

        svg {
            width: 24px;
            height: 24px;
        }
    }
    // TODO: Use this as default when we want all badges at the bottom right
    .logo-badge--bottom-right {
            bottom: @logo-inset;
            right: @logo-inset;
            top: inherit;
            left: inherit;
        }
}

.logo--sm {
    display: flex;
    .border-default-grey;
    .rounded-xxs;
    padding: 0.0625rem;
    background-color: @white;
}
