@import (less) "@datagouv/select-a11y/dist/style.css";
.multiselect {
    &[data-selected=true] .select-a11y .select-a11y-button {
        color: @grey-500;
    }
    .select-a11y {
        padding: 0;
        .select-a11y-button {
            padding: 0.5rem 2.5rem 0.5rem 1rem;
            background: none;
            color: @text-mention-grey;
            span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
            }
            .select-a11y-button__icon {
                display: none;
            }
        }
        .select-a11y-button__clear {
            &:extend(.fr-icon-close-circle-line);
            &:extend([class^="fr-icon-"]);
            margin: 2px;
            &::before {
                &:extend(.fr-icon-close-circle-line::before);
                &:extend([class^="fr-icon-"]::before);
            }
        }
        .select-a11y__overlay {
            background: @white;
            .fr-p-2w;
            .fr-pb-1w;
            .multiselect__input {
                .fr-input;
            }
        }
        .select-a11y-suggestions {
            .fr-mt-1w;
            border: none;
            max-height: 50vh;
        }
        .select-a11y-suggestion {
            .fr-p-1w;
            align-items: start;
            &:hover, &:focus {
                background: @grey-100;
            }
            &[aria-selected=true] {
                background: @grey-200;
                &:before {
                    content: none;
                }
            }
            & + .select-a11y-suggestion {
                .border-top;
            }
        }
        .select-a11y-suggestion__description {
            margin-top: 0.25rem;
            font-size: 0.75rem;
            color: @grey-400;
            line-height: 1rem;
        }
        .select-a11y-suggestion__helper {
            margin-top: 0.25rem;
            font-size: 0.875rem;
            line-height: 1.3rem;
        }
        .select-a11y-suggestion__image {
            .logo;
            .fr-p-1v;
        }
        .select-a11y-suggestion__label {
            font-size: 0.875rem;
            color: @grey-400;
            line-height: 1.3rem;
        }
        .select-a11y__selected-list {
            padding: 0.1rem 2.5rem calc(0.1rem + 2px) 1rem;
            margin-top: -2.5rem;
            li {
                &:extend(.fr-tag);
                &:extend(.fr-tag[aria-pressed=false]);
                &:extend(.fr-tag--sm);
                border: none;
                &.select-a11y__selected-item {
                    --text-action-high-blue-france: @text-default-grey;
                }
                &:extend(.fr-mb-1v);
                &:extend(.fr-mr-1v);
            }
        }
        .select-a11y-delete {
            padding: 0;
            padding-right: 0.3125rem;
            &:hover {
                color: @text-default-grey;
                border-color: @blue-400;
            }
        }
        .select-a11y-delete__icon {
            &::before {
                color: @text-default-grey;
                &:extend(.fr-icon-delete-line::before);
                &:extend(button.fr-tag--dismiss.fr-tag--sm::after);
            }
        }
        div[role="presentation"] {
            text-transform: uppercase;
            background-color: @grey-50;
            border-bottom: 1px solid @grey-200;
            font-weight: bold;
            padding: 0.5rem;
        }
    }
}
