// Home section
.reuse {
    .tab-content {
        min-width: @breakpoint-lg;
    }
}

.reuse-cards {
    @media @query-xl {
        overflow-x: scroll;

        .row {
            flex-wrap: nowrap;

            //Prevent reuse cards from being too small
            > div,
            > li {
                min-width: 250px;
            }
        }
    }
}

// Generic reuse cards
.reuse-card {
    .reuse-image {
        border-radius: @spacing-md;
        height: 480px;
        object-fit: cover;
        object-position: center center;
    }
}
