{% extends theme('raw.html') %}

{% block body %}
{% include theme("header.html") with context %}
{% set flashed_messages = get_flashed_messages() %}
{% set query_param_message = request.args.get('message') %}
{% if query_param_message %}
    {% set flashed_messages = flashed_messages + [query_param_message] %}
{% endif %}
{% with messages = flashed_messages %}
    {% if messages %}
        <div class="container py-lg">
            {% for message in messages %}
            <div class="well well-secondary-grey-100">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<main>
    {% block content %}{% endblock %}
</main>
{% include theme('footer.html') %}
{{ hook('base.modals') }}
{% block modals %}{% endblock %}
{% endblock %}
