<footer role="contentinfo">
    {% include theme("newsletter.html") %}
    <div class="fr-footer" id="footer">
        {% cache cache_duration, 'footer-top', g.lang_code|default(config.DEFAULT_LANGUAGE)|string,'-'.join((package_version('udata'), package_version('udata-front'))) %}
        <div class="fr-footer__top">
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--start fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-sm-3">
                        <h3 class="fr-footer__top-cat">{{ _('Open Data') }}</h3>
                        <ul class="fr-footer__top-list">
                            {% for item in nav.gouvfr_opendata %}
                            <li>
                                <a class="fr-footer__top-link" href="{{ item.url }}">{{ item.label }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="fr-col-12 fr-col-sm-3">
                        <h3 class="fr-footer__top-cat">{{ _('Platform') }}</h3>
                        <ul class="fr-footer__top-list">
                            {% for item in nav.gouvfr_platform %}
                            <li>
                                <a class="fr-footer__top-link" href="{{ item.url }}">{{ item.label }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="fr-col-12 fr-col-sm-3">
                        <h3 class="fr-footer__top-cat">{{ _('Resources') }}</h3>
                        <ul class="fr-footer__top-list">
                            {% for item in nav.gouvfr_resources %}
                            <li>
                                <a class="fr-footer__top-link" href="{{ item.url }}">{{ item.label }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="fr-col-12 fr-col-sm-3">
                        <h3 class="fr-footer__top-cat">{{ _('Development') }}</h3>
                         <ul class="fr-footer__top-list">
                            <li>
                                <a
                                    href="{{config.API_DOC_EXTERNAL_LINK}}"
                                    class="fr-footer__top-link"
                                >
                                   {{  _("Portal's API") }}
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://github.com/opendatateam/udata/"
                                    class="fr-footer__top-link"
                                >
                                    {{ _('Open-source engine: udata ({version})').format(
                                        version=package_version('udata')
                                    ) }}
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://github.com/datagouv/udata-front/"
                                    title="{{ _('data.gouv.fr extension: udata-front') }}"
                                    class="fr-footer__top-link"
                                >
                                    {{ _('udata theme extension: udata-front ({version})').format(
                                        version=package_version('udata-front')
                                    ) }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endcache %}
        <div class="fr-container">
            <div class="fr-footer__body">
            {% cache cache_duration, 'footer-brand-and-links', g.lang_code|default(config.DEFAULT_LANGUAGE)|string %}
                <div class="fr-footer__brand fr-enlarge-link">
                    <p class="fr-logo" title="république française">
                        république
                        <br>française
                    </p>
                    <a class="fr-footer__brand-link" href="/" title="{{_('Go back to website home - data.gouv.fr - République Française')}}">
                        {% include theme('svg/logotype.svg') %}
                    </a>
                </div>
                <div class="fr-footer__content">
                    <p class="fr-footer__content-desc">{{ _("A product of the Direction Interministérielle du Numérique (DINUM).") }}</p>
                    <ul class="fr-footer__content-list">
                        {% for item in nav.gouvfr_network %}
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link"  target="_blank" href="{{ item.url }}">{{ item.label }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endcache %}
                <div class="fr-col-auto fr-ml-auto self-end">
                    <nav role="navigation" class="fr-translate fr-nav">
                        <div class="fr-nav__item">
                            <button
                                class="fr-translate__btn fr-btn fr-btn--tertiary"
                                aria-controls="translate-in-footer"
                                aria-expanded="false"
                                title="{{ _('Select a Language') }}"
                            >
                                {{g.lang_code|upper}} - {{current_language_name()}}
                            </button>
                            <div class="fr-collapse fr-translate__menu fr-menu" id="translate-in-footer">
                                <ul class="fr-menu__list">
                                {% for code, name in config['LANGUAGES'].items() %}
                                    <li>
                                        <a
                                            class="fr-translate__language fr-nav__link"
                                            hreflang="{{code}}"
                                            lang="{{code}}"
                                            href="{{language_url(code)}}"
                                            {% if g.lang_code == code %}aria-current="true"{% endif %}
                                        >
                                            {{code|upper}} - {{name}}
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            {% cache cache_duration, 'footer-bottom', g.lang_code|default(config.DEFAULT_LANGUAGE)|string %}
            <div class="fr-footer__bottom">
                <ul class="fr-footer__bottom-list">
                    {% for item in nav.gouvfr_footer %}
                        <li class="fr-footer__bottom-item">
                            <a href="{{ '' if item.items else item.url }}" class="fr-footer__bottom-link">
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="fr-footer__bottom-copy">
                    <p>{{ _("Unless otherwise stated, all content of this site is availabe under <a href='{lo_url}'>Open Licence 2.0</a>").format(
                        lo_url='https://github.com/etalab/licence-ouverte/blob/master/LO.md#licence-ouverte-20open-licence-20'
                    ) }}</p>
                </div>
            </div>
            {% endcache %}
        </div>
    </div>
</footer>
