.hero {
    // On the home page, the post block is a little bit taller and with no padding on its body
    .hero-post {
        .hero-image {
            min-height: 325px;
            @supports (aspect-ratio: 16/9) {
                aspect-ratio: 16/9;
                min-height: auto;
            }
        }
    }

    .result-body {
        padding: @spacing-md 0 !important;
    }
}
.hero-background {
    background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(217, 217, 217, 0)), url('../../img/homepage/hero-background.png');
    background-position: center;
    background-size: cover;
}

.w-4rem {
    width: 4rem;
}

.h-4rem {
    height: 4rem;
}

.with-svg-responsive svg {
    width: 100%;
    height: auto;
}

.greyscaled {
    filter: grayscale(1);
}

.opacity-50 {
    opacity: 50%;
}

.opacity-80 {
    opacity: 80%;
}

.object-fit-contain {
    object-fit: contain;
}

.bg-dark {
    background-color: #242424;
}

.exploration-cards .fr-card__img img {
    aspect-ratio: auto;
}
