{% extends theme('layouts/1-column.html') %}
{% from theme('macros/breadcrumb.html') import breadcrumb with context %}
{% from theme('macros/banner_info.html') import banner_info %}
{% from theme('macros/metrics.html') import metrics %}

{% set meta = {
    'title': _('Dashboard'),
    'description': _('Site metrics and activity'),
    'keywords': [_('metrics'), _('activity')],
} %}

{% block breadcrumb %}
<li>
    <a class="fr-breadcrumb__link" aria-current="page">
        {{ _('Metrics') }}
    </a>
</li>
{% endblock %}

{% block content %}
{{ breadcrumb(self) }}
<section class="fr-container fr-mb-16w vuejs">
    <div class="fr-grid-row fr-grid-row--gutters justify-between">
        <div class="fr-col">
            <h1 class="fr-h3">{{ _("Metrics") }}</h1>
        </div>
        <div class="fr-col-auto">
            <button class="fr-btn fr-btn--secondary fr-btn--secondary-grey-500 fr-icon-download-line fr-btn--icon-left">
                {{ _("Download metrics as CSV") }}
            </button>
        </div>
    </div>
    {{banner_info(
        None,
        _("Metrics monthly changes and usage indicators of {site}. Data updated on {date}")
        .format(site=current_site.title, date="2023-04-05")
    )}}
    <section>
        <h2 class="fr-mt-6w">
            {{_("Audience")}}
        </h2>
        <div class="fr-grid-row justify-between">
            {{metrics(_("Users"), current_site.metrics['users'], user_metrics)}}
            {% if visit_dataset_metrics %}
            {{metrics(_("Dataset visits"), visit_dataset_metrics.values()|sum, visit_dataset_metrics, type="line", highlight_direction=True, as_percentage=True)}}
            {% endif %}
            {% if TODO %}
            {{metrics(_("Search"), 65900, [61018, 65900], type="line", highlight_direction=True, as_percentage=True)}}
            {% endif %}
        </div>
    </section>
    <section>
        <h2 class="fr-mt-6w">
            {{_("Catalog")}}
        </h2>
        <div class="fr-grid-row justify-between">
            {{metrics(_("Datasets"), current_site.metrics['datasets'], dataset_metrics, highlight_direction=True)}}
            {% if TODO %}
            {{metrics(_("Files"), 236400, [233400, 236400], highlight_direction=True)}}
            {% endif %}
            {{metrics(_("Harvesters"), current_site.metrics['harvesters'], harvest_metrics, highlight_direction=True)}}
        </div>
    </section>
    <section>
        <h2 class="fr-mt-6w">
            {{_("Data usage")}}
        </h2>
        <div class="fr-grid-row justify-between">
            {% if TODO %}
            {{metrics(_("Downloads"), 175800, [145289, 175800], type="line", highlight_direction=True, as_percentage=True)}}
            {{metrics(_("Exploration"), 5300, [2663, 5300], type="line", highlight_direction=True, as_percentage=True)}}
            {% endif %}
            {{metrics(_("Reuses"), current_site.metrics['reuses'], reuse_metrics, highlight_direction=True)}}
        </div>
    </section>
    <section>
        <h2 class="fr-mt-6w">
            {{_("Community")}}
        </h2>
        <div class="fr-grid-row justify-between">
            {{metrics(_("Organizations"), current_site.metrics['organizations'], organization_metrics, highlight_direction=True)}}
            {{metrics(_("Discussions"), current_site.metrics['discussions'], discussion_metrics, highlight_direction=True)}}
            {% if outlink_metrics %}
            {{metrics(_("External site redirects"), outlink_metrics.values()|sum, outlink_metrics, type="line", highlight_direction=True)}}
            {% endif %}
        </div>
    </section>
</section>
{% endblock %}
