.rangepicker {
    .datepicker {
        width: 12rem;
        position: relative;
        .clear {
            position: absolute;
            right: 2.5rem;
            top: 50%;
            margin-top: -13px;
        }
    }

    .v3dp__datepicker {
        input {
            appearance: none;
            background: none;

            padding: @spacing-sm @spacing-xs;
            margin: -0.5rem -2.5rem -0.5rem -1rem;
            color: @grey-400;
        }

        --vdp-selected-bg-color: @blue-400;
        --vdp-hover-bg-color: @blue-300;
    }
}
