{% macro breadcrumb(tpl) %}
{% if tpl.breadcrumb and tpl.breadcrumb() or tpl.breadcrumb_bar and tpl.breadcrumb_bar() %}
<section class="breadcrumb-bar fr-py-3w">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <nav rol="navigation" aria-label="{{_("You're here:")}}" class="fr-col-12 fr-col-md-6">
                {% if tpl.breadcrumb and tpl.breadcrumb() %}
                <ol class="breadcrumbs">
                    <li>
                        <a href="{{ url_for('site.home') }}">
                            {{ _('Home') }}
                        </a>
                    </li>
                    {{ tpl.breadcrumb() }}
                </ol>
                {% endif %}
            </nav>
            <div class="fr-col-12 fr-col-md-6">
                {% if tpl.toolbar and tpl.toolbar() %}
                <div class="fr-grid-row fr-grid-row--right">
                    {{ tpl.toolbar() }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endmacro %}
