{% macro metrics(title, value, data, type = "bar", highlight_direction = False, as_percentage = False) %}
{% set metric_values = data.values()|list %}
{% set previous_month = metric_values[-2] %}
{% set current_month = metric_values[-1] %}
{% set change = current_month - previous_month %}
<div class="fr-col-12 fr-col-md-3">
    <h3 class="fr-text--sm fr-m-0">{{title}}</h3>
    <div class="fr-grid-row fr-grid-row--middle">
        <p class="h1 line-height-1 fr-m-0">
            {{value | summarize}}
        </p>
        <div class="fr-ml-1w">
            <chart type="{{type}}" :data='{{data|tojson}}'></bar-chart>
        </div>
    </div>
    <p class="fr-mt-1w fr-text--regular text-transform-lowercase fr-badge fr-badge--no-icon
    {% if highlight_direction %}
        {% if change > 0 %} fr-badge--success {% else %} fr-badge--warning {% endif %}
    {% else %} fr-badge--info
    {% endif %}">
        <strong class='fr-mr-1v'>
            {%- if change > 0 -%}
                +
            {% endif %}
            {%- if as_percentage and previous_month -%}
                {{"{0:.0%}".format(change / previous_month)}}
            {%- else -%}
                {{change | summarize}}
            {% endif %}
        </strong>
        {{_(" since last month")}}
    </p>
</div>
{% endmacro %}
