{% from theme('macros/quality_item_warning.html') import quality_item_warning %}
{% from theme('macros/quality_score_toggletip.html') import quality_score_toggletip %}
{% from theme('macros/quality_score.html') import quality_score %}

{% macro quality_score_with_warning_below(dataset, class) %}
{% set show_quality_score = not(dataset.harvest and dataset.harvest.backend in config.QUALITY_METADATA_BACKEND_IGNORE) %}
<section aria-labelledby="metadata-quality">
    <div class="fr-grid-row fr-grid-row--middle fr-ml-n1v">
        {% call quality_score_toggletip(dataset, "fr-btn fr-btn--tertiary-no-outline fr-btn--secondary-grey-500 fr-icon-info-line") %}
            {{_('Metadata quality')}}
        {% endcall %}
        <h2 class="subtitle fr-m-0" aria-hidden="true">
            {{_('Metadata quality')}}
        </h2>
    </div>
    {{quality_score(dataset.quality.score, "w-100")}}
    {% if not show_quality_score %}
    <div class="text-mention-grey fr-text--sm fr-my-1v">
        <span class="fr-icon-warning-line fr-icon--sm" aria-hidden="true"></span>
        {{_("Metadata quality may be misleading since metadata info may have been lost from original source. We're currently working on improving this.")}}
    </div>
    {% else %}
    {{quality_item_warning(
        dataset.quality.dataset_description_quality,
        _("Data description empty"),
        "fr-my-1v"
    )}}
    {{quality_item_warning(
        dataset.quality.resources_documentation,
        _("Files documentation missing"),
        "fr-my-1v"
    )}}
    {{quality_item_warning(
        dataset.quality.license,
        _("No license set"),
        "fr-my-1v"
    )}}
    {{quality_item_warning(
        dataset.quality.update_frequency and dataset.quality.update_fulfilled_in_time,
        _("Update frequency not followed") if dataset.quality.update_frequency else _("Update frequency not set"),
        "fr-my-1v"
    )}}
    {{quality_item_warning(
        dataset.quality.has_open_format,
        _("File formats are closed"),
        "fr-my-1v"
    )}}
    {{quality_item_warning(
        dataset.quality.temporal_coverage,
        _("Temporal coverage not set"),
        "fr-my-1v"
    )}}
    {{quality_item_warning(
        dataset.quality.spatial,
        _("Spatial coverage not set"),
        "fr-my-1v"
    )}}
    {{quality_item_warning(
        dataset.quality.all_resources_available,
        _("Some files are unavailable"),
        "fr-my-1v"
    )}}
    {% endif %}
</section>
{% endmacro %}
