{% extends theme("layouts/1-column.html") %}
{% set next_url = url_for(request.endpoint, **request.view_args) if not request.routing_exception else url_for('site.home') %}

{% set bundle = 'territory' %}
{% set body_class="territory" %}

{% block main_content %}
<div class="fr-container">
    <div class="fr-alert fr-alert--info fr-my-2w">
        <p class="fr-alert__title">{{ _('Work in progress') }}</p>
        <p>{{ _('The territories pages are no longer maintained. We are working on new territories features.') }}</p>
    </div>
    <div class="fr-grid-row">
        {% block territory_content %}{% endblock %}
    </div>

    {% if not territory_datasets %}
    <div class="fr-grid-row">
        <div class="fr-col-sm-12">
            <div class="dataset-item--cta bg-primary">
                <p class="format-label pull-left">+</p>
                <p>
                    {% if current_user.is_authenticated %}
                    {{ _('If you want your datasets to appear in that list, the geographical zone associated must be the exact same one of that territory (%(code)s).', code=territory.code) }}
                    {% else %}
                    {{ _('You want to add your own datasets to that list?') }}<br />
                    <a title="{{ _('Log in / Sign up') }}" href="{{ url_for('security.login', next=next_url) }}">
                        {{ _('Log in') }}</a>
                    {{ _('and create files for that territory.') }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="fr-grid-row dataset-list">
        {% if territory_datasets %}
        {% for dataset in territory_datasets %}
        <div data-udata-dataset-id="{{ dataset.id }}" class="fr-col-sm-4"></div>
        {% endfor %}
        {% endif %}

        {% for dataset in base_datasets %}
        <div data-udata-territory-id="{{ dataset.slug }}" class="fr-col-sm-4"></div>
        {% endfor %}

        {% for dataset in other_datasets %}
        <div data-udata-dataset-id="{{ dataset.id }}" class="fr-col-sm-4"></div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ static('widgets.js', _burst=False) }}" id="udata" async defer onload="udataScript.loadDatasets()"
    {% if config.CDN_DOMAIN %}data-udata="{{ url_for('site.home_redirect', _external=True) }}" {% endif %}></script>
{% endblock %}
