{% from theme('macros/organization_name_with_certificate.html') import organization_name_with_certificate %}
{% set image_src = organization.logo(32)|placeholder('organization') if producer_type == 'organization' else organization|avatar_url(32)%}
<div class="fr-grid-row fr-grid-row--top">
    <div class="fr-col-auto">
    {% if producer_type == 'organization' %}
        <div class="border border-default-grey rounded-2 fr-p-1-5v fr-mt-1v fr-mr-1-5v">
            <img
                src="{{ image_src }}"
                alt=""
                width="32"
                height="32"
            />
        </div>
    {% else %}
        <img
            class="border border-default-grey rounded-circle fr-mr-1-5v"
            src="{{ image_src }}"
            alt=""
            width="32"
            height="32"
        />
    {% endif %}
    </div>
    <div class="fr-col fr-m-0">
        {% if producer_type == 'organization' %}
            <p class="fr-mb-1v">
                <a class="fr-link fr-text--sm" href="{{ url_for('organizations.show', org=organization) }}">
                    {{organization_name_with_certificate(organization, "sm", false)}}
                </a>
            </p>
            {% if organization_type(organization) %}
                <p class="vuejs fr-m-0">
                    <owner-type type="{{ organization_type(organization) }}"></owner-type>
                </p>
             {% endif %}
        {% else %}
            <p class="fr-mb-0">
                <a class="fr-link" href="{{ url_for('users.show', user=organization) }}">
                    {{ organization.fullname }}
                </a>
            </p>
        {% endif %}
    </div>
</div>
