{% from theme('macros/organization_name_with_certificate.html') import organization_name_with_certificate %}
{% set image_src = organization.logo(32)|placeholder('organization') if producer_type == 'organization' else organization|avatar_url(32)%}
<div class="fr-grid-row fr-grid-row--middle">
    <div class="fr-col-auto">
        <div class="border border-default-grey fr-p-1-5v fr-mr-1-5v">
            <img
                src="{{ image_src }}"
                alt=""
                width="32"
                height="32"
            />
        </div>
    </div>
    <p class="fr-col fr-m-0">
        {% if producer_type == 'organization' %}
            <a href="{{ url_for('organizations.show', org=organization) }}">
                {{organization_name_with_certificate(organization)}}
            </a>
        {% else %}
            {{ organization.fullname }}
        {% endif %}
        </p>
</div>
